h1 {
    font-family: Arial;
    font-size: 30px;
    color: black;
    text-align: center;
 }

 p {
     font-family: Arial;
     font-size: 20px;
     color: black;
 }

 body {
     text-align:center;
}

#currentLocation {
    width: 32%;
    height: 13px;
}