div.a {
  text-align: center;
  font-family: Consolas;
  padding-top: 40px;
  padding-right: 25%;
  padding-left: 25%;
}

.card-header {
  text-align: center;
}

div.script {
  text-align: left;
  font-family: Consolas;
  font-size: 10px;
}

th{
  background-color: #7ad5ff;
  color: white;
}
table, th, td {
  padding: 10px;
    border: 2px solid #A9A9A9;
    border-color: solid black;
    border-collapse: collapse;
}
.button {
	text-align: center;
 	font-family: Consolas;
}

#mapid {
  height: 400px;
  width: auto;
}

/* Wenn breiter als 601px */
@media only screen and (min-width: 601px) {
  #mapid {
 width: 50%;
  }
 }
 /* Wenn schmaler als 600px*/
 @media only screen and (max-width: 600px) {
  #mapid {
 width: 100%;
  }
 }